#footer {
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin-bottom: 0px;
    bottom: 0;
}

#header {
  position: static;
  bottom: 0px;
  left: 0px;
  right: 0px;
  margin-bottom: -10px;
  height: 10px;
}

.button {
  background-color: #C0FFD9;
  border-top: 1px;
  border-right: 1px;
  border-left: 3.5px;
  border-bottom: 3.5px;
}

.rating {
  display: inline;
}

.rating button {
  border: none;
  background-color: white;
}

.navbar {
  padding-left: 140px;
}
