<h1 class="title is-1">Eat Natural <img style="height: 75px; width: 75px; margin-top: 20px;"src="https://i.imgur.com/pSCIAnP.png"></h1>
<hr style="background-color: #C0FFD9">
<h1 class="title is-3">About</h1>
<p>Here at Eat Natural, we have hand curated only the tastiest </p>
<p>vegan & vegetarian restaurants in London.</p>
<hr style="background-color: #C0FFD9">
<p>Have a favourite restaurant that isn't on our list?</p>
<p><a href="../registrations/new">Sign up</a> today to add it to our list.</p>
<hr style="background-color: #C0FFD9">
<p>Are you a foodary business owner and want</p>
<p style="padding-bottom: 37px;">your business featured? <a href="#">Contact us</a> today.</p>
