<form method="POST" action="/restaurants">

  <div class="field">
    <label class="label" for="name">Name</label>
    <div class="control">
      <input name="name" class="input" type="text">
    </div>
  </div>

  <div class="field">
    <label class="label" for="coverPic">Restaurant Picture (URL)</label>
    <div class="control">
      <input name="coverPic" class="input" type="text">
    </div>
  </div>

  <div class="field">
    <label class="label" for="location">Location</label>
    <div class="control">
      <input name="location" class="input" type="text">
    </div>
  </div>

  <div class="field">
    <label class="label" for="details">details</label>
    <div class="control">
      <input name="details" class="input" type="text">
    </div>
  </div>

  <div class="field">
    <label class="label" for="priceRange">Price Range</label>
    <div class="control">
      <input name="priceRange" class="input" type="text">
    </div>
  </div>

  <div class="field">
    <label class="label" for="cuisine">Cuisine (Seperated by commer)</label>
    <div class="control">
      <input name="cuisine" class="input" type="text">
    </div>
  </div>

  <div class="field">
    <label class="label" for="contactNumber">Contact Number</label>
    <div class="control">
      <input name="contactNumber" class="input" type="number">
    </div>
  </div>

  <div class="field">
    <label class="label" for="contactEmail">Contact Email</label>
    <div class="control">
      <input name="contactEmail" class="input" type="email">
    </div>
  </div>

  <button class="button is-primary">Create New Restaurant!</button>
</form>
